"on":
    push:
        branches:
            - main
name: Deploy to go-httpbin
jobs:
    porter-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set Github tag
              id: vars
              run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
            - name: Setup porter
              uses: porter-dev/setup-porter@v0.1.0
            - name: Deploy stack
              timeout-minutes: 30
              run: porter apply
              env:
                DOCKER_BUILDKIT: "1"
                PORTER_APP_NAME: go-httpbin
                PORTER_CLUSTER: "5404"
                PORTER_DEPLOYMENT_TARGET_ID: c0de8ef1-361d-41cb-a311-badf5b3d61d9
                PORTER_HOST: https://dashboard.porter.run
                PORTER_PROJECT: "17928"
                PORTER_TAG: ${{ steps.vars.outputs.sha_short }}
                PORTER_TOKEN: ${{ secrets.PORTER_APP_17928_1121825683 }}
